doctype html
html(lang='en')
  head
    title= title
    link(rel='stylesheet', href=contextRoot + 'stylesheets/styles.css')
    link(rel='stylesheet', href=contextRoot + 'stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css')
    style(type='text/css', media='screen').
      body {
      margin-bottom: 30px;
      }
      .editor {
      width: 100%;
      height: 200px;
      }
  body
    header#header
      h1
        a(href='#{config.siteUrl}') iFlux.io
      nav#nav
        ul
          li(style='white-space: nowrap;')
            a(href=contextRoot + '/') Sandbox
          li(style='white-space: nowrap;')
            a(href='#{config.siteUrl}/blog.html') Blog
          li(style='white-space: nowrap;')
            a(href='#{config.siteUrl}/api/') API
    .container
      .page-header
        h1= title
      block content

    block scripts